.wei-block {
    margin: 10px 0;
}

.wei-preview-block {
    display: none;
}

.wei-preview-visible .wei-editor-block, .wei-preview-visible .wei-preview-block {
    display: block;
    float: left;
    width: 50%;
}

.wei-block .wei-editor-block .wei-editor-buttons {
    text-align: left;
    margin: 10px 0;
}
